<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>Find an e-Meet</h2>
        <%= form_tag meetups_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Location" %>
            <%= date_field_tag(:datetime_ida, Date.today)%>
        <% end %>
    </div>
  </div>
</div>