.attendance-page{
  h2 {
    color: white;
    text-align: center;
    background-color: #db504a;
    opacity: 0.9;
    margin-bottom: 30px;
    margin-top: 65px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .background-attendance-image {
    background-image: url("background_white.jpg");
    background-size: cover !important;
    height: 100vh;
  }
  .people_attending {
    background-color: #393e41;
    color: black;
    opacity: 0.7;
    min-height: 350px;
    padding: 15px;
    border-radius: 10px;
    &:hover{ background-color: red;
    }
    h3 {
      text-align: center;
      color: white;
    }
  }
  .details {
    color: black;
    background-color: #393e41;
    opacity: 0.7;
    min-height: 350px;
    padding: 10px;
    border-radius: 10px;
    padding: 15px;
    &:hover{ background-color: red;
    }
     h3 {
      text-align: center;
      color: white;
    }
  }

  .myButton {
    -moz-box-shadow: 0px 10px 11px -7px #db4f4a;
    -webkit-box-shadow: 0px 10px 11px -7px #db4f4a;
    box-shadow: 0px 10px 11px -7px #db4f4a;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #db4f4a), color-stop(1, #eb7e7b));
    background:-moz-linear-gradient(top, #db4f4a 5%, #eb7e7b 100%);
    background:-webkit-linear-gradient(top, #db4f4a 5%, #eb7e7b 100%);
    background:-o-linear-gradient(top, #db4f4a 5%, #eb7e7b 100%);
    background:-ms-linear-gradient(top, #db4f4a 5%, #eb7e7b 100%);
    background:linear-gradient(to bottom, #db4f4a 5%, #eb7e7b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4f4a', endColorstr='#eb7e7b',GradientType=0);
    background-color:#db4f4a;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #db4f4a;
    margin-top: 25px;
    text-align: center;
  }
  .myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb7e7b), color-stop(1, #db4f4a));
    background:-moz-linear-gradient(top, #eb7e7b 5%, #db4f4a 100%);
    background:-webkit-linear-gradient(top, #eb7e7b 5%, #db4f4a 100%);
    background:-o-linear-gradient(top, #eb7e7b 5%, #db4f4a 100%);
    background:-ms-linear-gradient(top, #eb7e7b 5%, #db4f4a 100%);
    background:linear-gradient(to bottom, #eb7e7b 5%, #db4f4a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7e7b', endColorstr='#db4f4a',GradientType=0);
    background-color:#eb7e7b;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }

}
