<div class="container">	
	<div class="col-md-4 col-md-offset-4">
		<h2>Attendance confirmation</h2>
		<ul>
			<li>Location - London %></li>
			<li>Date - 03/09/2010</li>
			<li>Game - CS:GO</li>
			<li>£5 </li>
		</ul>
	</div>
</div>